.group-std {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#translate {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p.img-lef {
  width: 15%;
  float: inline;
}